body {
  background-color: #1e2838;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
  box-shadow: 0 0 0px 1000px #1f2937 inset !important;
  border-color: #4b5563;
}
