{% extends 'base.html.twig' %}

{% block title %}Mon espace{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Bienvenue {{ pseudo }} !</h1>
        <p>Vous êtes bien connecté à votre espace personnel.</p>
        <a href="{{ path('app_logout') }}" class="btn btn-secondary mt-3">Déconnexion</a>
    </div>
{% endblock %}